<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="icon" href="/img/weather.png"/>
        <title>Help</title>

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>It's help file!</h1>
            <h2>{{ name }}</h2>    
        </div>
        
        {{>footer}}
    </body>
</html>